@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Yeseva+One&display=swap');

* {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    font-family: var(--font-small);
    font-weight: 100;
}

:root {
    --bright-color: #FFFFFF;
    --dark-color: #131313;
    --highlight-color: #E3B873;
    --font-large: "Yeseva One";
    --font-small: "Nunito Sans";
}

a {
    text-decoration: none;
    color: var(--bright-color);
}

h1, h3, h2 {
    font-family: var(--font-large);
}

ul {
    list-style-type: none;
}

button {
    border-radius: 5px;
    background-color: var(--highlight-color);
    box-shadow: 0px 0px 5px 5px rgba(227, 184, 73, 0.2);
    border: 0;
    color:var(--bright-color);
}

button:hover {
    box-shadow: 0px 0px 6px 2px rgba(227, 184, 73, 0.2);
    transform: translateY(-2px);
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
}


.container {
    display: flex;
    width: 90%;
    flex-direction: column;
}

section {
    width: 100%;
    height: 80vh;
    margin:0;
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    img:nth-child(2) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

input[type="checkbox"]:checked {
    width: 1.2vw;
    height:1.2vw;   
    accent-color: var(--highlight-color);
    background-color:var(--bright-color); 
}
input[type="checkbox"]:not(:checked) {
    width: 1.2vw;
    height:1.2vw; 
}

/* header - footer */
/*#region*/
header {
    width: 100%;
    height: 7vh;
    background-color: var(--dark-color);
    display: flex;
    .container {
        flex-direction: row;
        font-size: small;
    }
}

header .container span {
    color: var(--highlight-color);
}

header .container nav {
    width:45%;
    margin-right: 5vw;
    margin-left: 3vw;
}

header .container button {
    width: 12vw;
    height:4.5vh;
    margin-left: 3vw;
}

header .container span:nth-last-child(2) {
    text-decoration: underline;
}

header .container nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .container nav ul li:nth-child(1) {
    a {
        color:var(--highlight-color);
    }
}

header .container nav ul li a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    height: 14vh;
    background-color: var(--dark-color);
    display: flex;
    .container {
        flex-direction: row;
        font-size: small;
    }
}

footer .container span {
    color: var(--highlight-color);
}

footer .container nav {
    width:45%;
    margin-right: 5vw;
    margin-left: 3vw;
}

footer .container button {
    width: 12vw;
    height:4.5vh;
    margin-left: 3vw;
}

footer .container span:nth-last-child(2) {
    text-decoration: underline;
}

footer .container nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .container nav ul li:nth-child(1) {
    a {
        color:var(--highlight-color);
    }
}

footer .container nav ul li a:hover {
    text-decoration: underline;
}
/*#endregion*/

/* section - home*/
/*#region*/
#home {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("img/home_back.jpg");
    background-size: cover;
    .container{
        height: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 7vw;
    }
}

#home .container h1{
    font-size: 5vh;
    font-weight: 100;
    color: var(--bright-color);
    margin:0;
    span {
        font-size: 5vh;
        font-family: var(--font-large);
        color:var(--highlight-color)
    }
}

#home .container p{
    font-size: 3vh;
    color:var(--bright-color)
}

#home .container div {
    display: flex;
    align-items: center;
}

#home .container button {
    width: 16vw;
    height: 6.8vh;
    margin-right: 2vw;
}

#home .container button:nth-last-child(1) {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--bright-color);
    box-shadow: none;
    font-style: italic;
}
/*#endregion*/

/* section - projects*/
/*#region*/

#projects {
    z-index: 1;
    background-color: var(--dark-color);
    color:var(--bright-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 12vh;
    height: 140vh;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

#projects .container ul {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 52%;
    margin-right: 5vw;
    padding: 0;
    .type_btn {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        font-family: var(--font-large);
        font-size: 2vh;
    }
}

.type_active {
    text-decoration: underline;
    color: var(--highlight-color);
}

#projects .container .separater {
    width: 100%;
    height: 68vh;
    display: flex;
    margin-bottom: 14vh;
    .left_side {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right:6vw;
    }
    .right_side {
        margin-top: 5vh;
        width: 80%;
        background-size: cover;
        img {
            width: 100%;
        }
    }
}

.left_side h2{
    font-size: 4vh;
    color: var(--highlight-color);
}

.left_side p {
    line-height: 2rem;
}

.left_side .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
        width: 100%;
        height:12vh;
        margin-right: 2vw;
        margin-bottom: 2vw;
    }
    h3 {
        color:var(--highlight-color);
        font-size: 2.5vh;
    }
    span {
        font-size: 2vh;
    }
}

.left_side .controls {
    margin-top: 5vh;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.left_side .controls img:nth-child(1):hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.left_side .controls img:nth-child(5):hover {
    transform: translateY(-2px);
    cursor: pointer;
}

#projects .container h3 {
    font-size: 2.5vh;
}

#projects .container .row img:nth-child(2) {
    margin: 0;
}

#projects .container .video {
    margin-top: 4vh;
    margin-bottom: 7vh;
    width: 81%;
    box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.15);
    z-index: 3;
    cursor: pointer;
}

#projects .container iframe {
    margin-top: 4vh;
    margin-bottom: 7vh;
    width: 81%;
    height: 40vw;
    box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.15);
}

.video_active {
    display:block;
}

.video_unactive {
    display: none;
}
/*#endregion*/

/* section - measurement*/
/*#region*/
#measurement {
    color:var(--bright-color);
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30vw;
    z-index:0;
    height:105vh;
    margin-bottom: 10vw;
}

#measurement .container .outline {
    display: flex;
    flex-direction: row;
    width: 100%;
    img:nth-child(1) {
        margin-right: -2px;
    }
}

#measurement .container p {
    width: 60%;
    text-align: center;
    font-weight: 400;
    color:var(--dark-color);
    line-height: 2rem;
    margin-bottom: 3vh;
    font-size: 2vh;
    margin-top: 3vh;
}

#measurement .container form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 3vw;
    div {
        width:100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4vh;
    }
    label {
        color:var(--dark-color);
        display: flex;
        span {
            font-weight: 500;
        }
    }
}

#measurement .container form div button
{
    width:30%;
    border-radius: 5px;
    height:100%;
}

#measurement .container form div label
{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.8vh;
    color: var(--dark-color);
    input {
        width:100%;
        outline: none;
        border: 0;
        margin-top: 1vh;
        border-bottom: 0.1px solid var(--dark-color);
        font-weight: 700;
    }
}

/*#endregion*/

/* section - team*/
/*#region*/
#team {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170vh;
    .container {
        display: flex;
        flex-direction: column;
    }
}

#team .container h3 {
    font-size: 1.5vw;
}

#team .container .row {
    margin-bottom: 2vw;
}

#team .container .types {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    height: 50vw;
}

#team .container .types .type 
{
    width: 32%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    img {
        width: 100%;
    }
    .text {
        width: 80%;
        transform: translateY(-10vw);
        background-color: var(--bright-color);
        padding-left: 2vw;
        ul {
            list-style-type:disc;
            padding-left: 1.2vw;
        }
        .price {
            background-color: var(--highlight-color);
            width: 75%;
            height: 3rem;
            text-align: center;
            align-content: center;
            color: var(--bright-color);
            font-weight: 500;
            font-family: var(--font-large);
        }
        .price:hover {
            transform: translateY(-5px);
        }
    }
}

.request {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url("img/city_back.jpg");
    height: 85vh;
}

.request .steps {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 80%;
    padding-left: 10%;
    div {
        display: flex;
    }
}

.request form {
    display: flex;
    flex-direction: column;
    width:40%;
    margin-right: 2vw;
    height: 80%;
    background-color: var(--dark-color);
    color: var(--bright-color);
    h2 {
        font-size: 1.5vw;
        font-family: var(--font-small);
        text-align: center;
        margin: 0;
    }
}

.request form button
{
    width:40%;
    border-radius: 5px;
    height:3vw;
    align-self: flex-end;
    margin-right: 3.3vw;
    margin-top: 1.5vw;
}

.request form label
{
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.8vh;
    margin-top: 3vw;
    span {
        font-weight: 500;
    }
    input {
        background-color: rgba(0, 0, 0, 0);
        width:100%;
        outline: none;
        border: 0;
        margin-top: 1vh;
        border-bottom: 0.1px solid var(--bright-color);
        font-weight: 700;
        color: var(--bright-color);
    }
}

.request form label:nth-child(5) {
    flex-direction: row;
    margin-top: 1vw;
    align-self: flex-start;
    align-items: center;
    span {
        font-weight: 200;
        padding-top: 1vh;
    }
}

.hint {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/*#endregion*/

@media (min-width:1300px) {
    body::-webkit-scrollbar {
        width: 10px;
    }
    
    body::-webkit-scrollbar-track {
        background: var(--bright-color);
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: var(--highlight-color); 
        border-radius: 20px;
    }
}
@media (min-width:768px) {
    
}